extends layout

block content
	#header-2
		a(href="/profile")
			h1 Urbanopoly
		#user
			img(src= "../images/default_user.jpg")
			p #{user_name}
			a(href="/")
				p Logout

	#content
		h1= title
		p Map page.
		script(src="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js")
		script(src='http://code.jquery.com/jquery-2.1.0.min.js')
		script.
			$(document).ready(function(){
				// MapBox Map
				var map = L.mapbox.map('map', 'examples.map-9ijuk24y').setView([40, -74.50], 9);
				var geolocate = $('#geolocate')[0];

				var myLayer = L.mapbox.featureLayer().addTo(map);

				// This uses the HTML5 geolocation API, which is available on
				// most mobile browsers and modern browsers, but not in Internet Explorer
				//
				// See this chart of compatibility for details:
				// http://caniuse.com/#feat=geolocation
				if (!navigator.geolocation) {
					geolocate.innerHTML = 'geolocation is not available';
				} else {
					geolocate.onclick = function (e) {
					e.preventDefault();
					e.stopPropagation();
					map.locate();
					};
				}

				// Once we've got a position, zoom and center the map
				// on it, and add a single marker.
				map.on('locationfound', function(e) {
					map.fitBounds(e.bounds);

					myLayer.setGeoJSON({
						type: "Feature",
						geometry: {
							type: "Point",
							coordinates: [e.latlng.lng, e.latlng.lat]
						},
						properties: {
							'marker-color': '#000',
							'marker-symbol': 'star-stroked'
						}
					});

					// And hide the geolocation button
					geolocate.parentNode.removeChild(geolocate);
				});

				// If the user chooses not to allow their location
				// to be shared, display an error message.
				map.on('locationerror', function() {
					geolocate.innerHTML = 'position could not be found';
				});
			})
		#map
			a(href='#', id='geolocate') Find me