extends layout

block content
	#header-1
		h1= title
		p Welcome to #{title}
		p * * *
		p Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit
	#content
		#login
			a(href="/login") Sign Up with Facebook