extends layout

block content
	#header-1
		img(src='/images/title.png')
		p Welcome to #{title}
		img(src='/images/ic_launcher.png')
		p Buy venues, earn money and collect information about your city by playing with the neighborhood around you in Urbanopoly.
		p Create your venues portfolio and become the greatest landlord ever!
	#content
		#login
			a(href="/login")
				img(src='/images/image_button_facebook.png')