.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='http://swa.cefriel.it/urbangames/urbanopoly/index.html') Urbanopoly
			|  2014

link(rel='stylesheet', href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css')
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
script(src='/javascripts/jquery-2.1.1.min.js')
script(src='/javascripts/bootstrap.min.js')

block footer